<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This version of Splurty was built by Winnie Khuu, mama by day, coder by night.  
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'wk.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Winnie Khuu</h2>
      <br />
      <p>
        Winnie is an Administrative Assistant in Capital Development at Mount Sinai Hospital in Toronto, Ontario.  She is looking to improve the team's workflow by bringing in a new skillset while on maternity leave.
      </p>
    </div>
  </div>
 </div>

<br class="clear" />
<br />
<br />
<br />
<br />

