<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This version of Splurty was built by Emad Masoud , Father By day , designer by night.  
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'wk.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Emad Masoud</h2>
      <br />
      <p>
        Emad Masoud He is UI/UX Designer with more than 13 years of experince in designing failed 
      </p>
    </div>
  </div>
 </div>

<br class="clear" />
<br />
<br />
<br />
<br />

